body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../images/volunteer-back-facing.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  border-radius: 10px;
  width: 600px;
}