body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8e7;
}

header,
footer {
  background-color: #296154;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.search-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.search-container h2 {
  color: #296154;
  font-size: 24px;
  margin-bottom: 20px;
}

.search-container .search-bar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.search-container .user-list {
  display: flex;
  flex-direction: column;
}

.search-container .user {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff8e7;
}

.search-container .user img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.search-container .user-details {
  flex-grow: 1;
}

.search-container .username {
  font-weight: bold;
  display: block;
}

.search-container .fullname {
  color: #777777;
}

.search-container .follow-btn {
  padding: 8px 15px;
  background-color: #d8a46f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.search-container .follow-btn:hover {
  background-color: #bf7e3e;
}

.no-underline {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* Media Queries */
@media (max-width: 768px) {
  .search-container {
    padding: 15px;
  }

  .search-container h2 {
    font-size: 22px;
  }

  .search-container .search-bar {
    font-size: 14px;
    padding: 8px;
  }

  .search-container .user {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .search-container .user img {
    width: 40px;
    height: 40px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .search-container .follow-btn {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .search-container {
    padding: 10px;
  }

  .search-container h2 {
    font-size: 20px;
  }

  .search-container .search-bar {
    font-size: 12px;
    padding: 6px;
  }

  .search-container .user {
    padding: 10px;
  }

  .search-container .user img {
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
  }

  .search-container .username {
    font-size: 14px;
  }

  .search-container .fullname {
    font-size: 12px;
  }

  .search-container .follow-btn {
    padding: 5px 10px;
    font-size: 10px;
  }
}
