#profile-photo {
  margin: 0 0 0 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
}

#profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-body {
  width: 50%;
  margin: 0 0 0 20rem;
  height: 9rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  background-color: rgba(41, 97, 84, 0.85);
}

.cardnames {
  margin: 0 0 0 3rem;
}

.fields > * {
  margin: 1.2rem 0 0 0;
}

.addresses {
  display: flex;
}

.addresses .address {
  width: 50%;
  margin: 0 3rem 0 0;
}

.addresses .apt-floor-unit {
  width: 50%;
  margin: 0 0 0 1.1rem;
}

footer {
  background-color: #296154;
  margin: 4rem 0 0 0;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  margin: 0 0 0 4rem;
}

.site-map {
  margin: 0 0 0 6rem;
}

.site-map ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.site-map li a {
  margin-right: 2rem;
  color: white;
}

.footer-wrapper {
  display: flex; /* Make it a flex container */
  justify-content: space-between; /* Distribute space evenly */
  align-items: center; /* Align content vertically */
}
