html {
  background-color: #fff8e7;
}
.custom-navbar {
  background-color: #296154;
}

.navbar-brand {
  margin-left: 1.4rem;
}

.custom-navbar .nav-link {
  color: #f6ecec;
}

.custom-navbar .nav-link img {
  height: 1.5rem;
  width: 1.5rem;
}

#navbarNav {
  padding-right: 1.8rem;
}

footer {
  background-color: #296154;
  padding: 20px 0;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.brand {
  margin-left: 4rem;
}

.footer-middle {
  flex: 2;
  text-align: center;
}

.footer-middle small {
  font-size: x-small;
  margin: 0;
  color: white;
}

.site-map {
  margin-right: 4rem;
}

.site-map ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.site-map li a {
  margin-right: 2rem;
  color: white;
}

/* Media Queries */
@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .brand {
    margin: 0 0 20px 0;
  }

  .footer-middle {
    margin: 20px 0;
  }

  .site-map {
    margin: 20px 0 0 0;
  }

  .site-map ul {
    flex-direction: column;
  }

  .site-map li a {
    margin: 10px 0;
  }
}
