html {
  background-color: #fff8e7;
}
.custom-navbar {
  background-color: #296154;
}

.navbar-brand {
  margin-left: 1.4rem;
}

.custom-navbar .nav-link {
  color: #f6ecec;
}

.custom-navbar .nav-link img {
  height: 1.5rem;
  width: 1.5rem;
}

#navbarNav {
  padding-right: 1.8rem;
}
