body {
  font-family: Arial, sans-serif;
  background-color: #fff8e7;
  margin: 0;
  padding: 0;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.userlistingbox {
  width: 1000px;
  height: auto;
  background-color: #8ba697;
  border-radius: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.search-bar input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 550px;
  font-size: 16px;
}

.search-bar {
  padding-bottom: 40px;
}

.userlistings {
  width: 90%;
  max-width: 550px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.listings {
  background-color: #fff8e7;
  display: flex;
  padding: 22px;
  height: 150px;
  margin-bottom: 25px;
  border-radius: 10px;
  align-items: center;
}

.listingimage {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: grey;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.listingimage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.listinginfobox {
  margin-left: 25px;
  width: calc(100% - 125px);
  text-align: left;
  padding: 0;
}

.listingname {
  font-size: large;
  color: #0d493b;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.listinginfo {
  margin: 0;
  padding: 0;
}

.pages {
  color: white;
}

/* Media Queries */
@media (max-width: 768px) {
  .userlistingbox {
    width: 90%;
    padding: 20px;
  }

  .search-bar input {
    width: 100%;
  }

  .userlistings {
    width: 100%;
  }

  .listings {
    height: auto;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .listingimage {
    width: 80px;
    height: 80px;
  }

  .listinginfobox {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }

  .listingname {
    font-size: medium;
  }

  .listinginfo {
    font-size: small;
  }
}

@media (max-width: 576px) {
  .userlistingbox {
    width: 95%;
    padding: 10px;
  }

  .search-bar input {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  .userlistings {
    width: 100%;
  }

  .listings {
    height: auto;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .listingimage {
    width: 60px;
    height: 60px;
  }

  .listinginfobox {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }

  .listingname {
    font-size: medium;
  }

  .listinginfo {
    font-size: small;
  }
}
